.App {
  height: 500px;
  width: 500px;
  background-color: azure;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  &__char {
    height: 12px;
    width: 12px;
  }
}